.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--app-bg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: inherit;
}

.App-link {
  color: #61dafb;
}

.pokedex-title {
  font-size: 2.5rem;
  text-shadow: 1px 0 10px rgba(0,0,0,0.1);
  text-align: center;
  color: inherit;
  margin: 0;
}

.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

.card {
  background-color: var(--card-bg);
  border: none;
  color: inherit;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  align-items: center;
  text-align: center;
  transition: background-color 0.3s ease;
}

.card:hover {
  background-color: var(--card-hover);
  color: inherit;
  cursor: pointer;
}

.pokemon-card img {
  width: 100px;
  height: 100px;
}

.pagination {
  border: none;
  margin-top: 20px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.filters {
  text-align: left;
  margin: 20px;
}

.slider-container {
  max-width: 400px;
}

.card p {
  transition: color 0.3s ease;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
